---
import type { PokemonListResponse } from "../interfaces/pokemon-list.response";
import MainLayout from "../layouts/MainLayout.astro";

const resp = await fetch("https://pokeapi.co/api/v2/pokemon");
const data = (await resp.json()) as PokemonListResponse;

const title = "Pokémon Static | Home";
---

<MainLayout title="Hola">
  <h1 class="text-3xl">Listado Pokémons</h1>
  <hr />
  <ul>
    {data.results.map((pokemon) => <li>{pokemon.name}</li>)}
  </ul>
</MainLayout>
